body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: linear-gradient(black, #080221);

}

h2 {
  /*font-family:;*/
  color: gray;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 5px;
}

img {
  width: 100%;
  height: auto;
}


.header {
position: fixed;
margin-top: 7vh;
width: 100%;
display: block;
opacity: 0.5;
transition: opacity 0.5s;
}
.header:hover{
  opacity: 1;
}
.logoJW {
  position: relative;
  margin-left: 5%;
  float: left;
  width: 50px;
  z-index: 2000;
}
.logoJW path {
  fill: gray;
}
.logoJW path:hover{
  fill: white;
}

.Navi {
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  margin-right: 5%;
  text-align:right;              /* Textausrichtung     */
  font-family: 'Nunito', sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  z-index: 2000;
}

ul {
    list-style-type: none;
}
a:link {
    color: gray;
    text-decoration: none;
}
a:visited {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    text-decoration: none;
}


.pagecontainervideo video {
  object-fit: cover;
 width:100%;
 height:100%;
}
.pagecontainervideo {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  /* margin: 0 auto; */
  height: 100vh;
  /*background-color: blue;*/
}
.pagecontainer {
  text-align: center;
  padding-top: 5vh;
  height:100vh;
  /*background-color: black; */

}
.pagecontainer p {
padding: 8vh;
font-size: 20px;
color: lightgray;

}
.pagecontainer2 {
  align-items: center;
  height:100vh;
  background-color: red;
}

.pagecontainercontact{
  text-align: center;
  padding-top: 5vh;
  height: 40vh;
}
.socialmediaicons{
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.socialmediaicons img{
  height: 60px;
}

.socialmediaicons a{
  margin-left: 20%;
  margin-right: 20%;
}

/*Rules for Mobile Devices*/
@media (max-width: 992px) {
  .pagecontainer p {
  font-size: 36px;
  }
}

@media (max-width: ) {

}
